<div class="container ">
<div class="row ">
  <div class="input-field inline col s12 m6 offset-m3">
    <input id="txtIssueNo" type="text" class="validate" [(ngModel)]="issue.issueno" materialize="updateTextFields" minlength="1" disabled>
    <label for="txtIssueNo" data-error="please input Issue No">{{'issue.issueno'| translate}}</label>
  </div>
  

</div>
<div class="row ">
    <div class="input-field inline col s12 m6 offset-m3">
      <input id="txtTitle" type="text" class="validate" [(ngModel)]="issue.title" materialize="updateTextFields" minlength="1">
      <label for="txtTitle" data-error="please input Title">{{'issue.title'| translate}}</label>
    </div>
  </div>

<div class="row">
    <form class="col s12 m6 offset-m3">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" name="textarea1" [(ngModel)]="issue.description" class="materialize-textarea" data-length="120" minlength="1"></textarea>
          <label for="textarea1">{{'issue.description'| translate}}</label>
        </div>
      </div>
    </form>
</div>
<div class="row ">
  <div class="input-field inline col s12 m6 offset-m3">
    <select [(ngModel)]="issue.company" materialize="material_select" [materializeSelectOptions]="compData"> 
      <option value="" disabled selected>Choose your option</option>
      <option *ngFor="let comp of compData;" 
    [value]="comp.compName">{{comp.compName}}</option>
    </select>
    <label>{{'issue.company' | translate}}</label>
  </div>

</div>
<div class="row ">
    <div class="input-field inline col s12 m6 offset-m3">
      <select [(ngModel)]="issue.customer" materialize="material_select" [materializeSelectOptions]="custData"> 
        <option value="" disabled selected>Choose your option</option>
        <option *ngFor="let cust of custData;" 
      [value]="cust.customername">{{cust.customername}}</option>
      </select>
      <label>{{'issue.customer' | translate}}</label>
    </div>
  </div>

<div class="row ">
    <div class="input-field inline col s12 m6 offset-m3">
        <select [(ngModel)]="issue.user" materialize="material_select" [materializeSelectOptions]="custData"> 
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let usr of userData;" 
        [value]="usr.firstName">{{usr.firstName}}</option>
        </select>
        <label>{{'issue.user' | translate}}</label>
      </div>

</div>

<div class="row ">
  <div class="input-field inline col s12 m6 offset-m3">
    <label>{{'issue.date' | translate}}</label>
    <input type="text" [(ngModel)]="issue.date" materialize="pickadate" 
    [materializeParams]="[{closeOnSelect:true,format:'dd/mm/yyyy'}]"  class="datepicker">
  </div>
</div>

<div class="row ">
    <div class="col s12 m6 offset-m3">
      <p>
        <input [(ngModel)]="issue.status" class="with-gap" name="status" type="radio" id="status-new" value="N" />
        <label for="status-new">New</label>
      </p>
      <p>
        <input [(ngModel)]="issue.status" class="with-gap" name="status" type="radio" id="status-process" value="P" />
        <label for="status-process">Process</label>
      </p>
      <p>
        <input [(ngModel)]="issue.status" class="with-gap" name="status" type="radio" id="status-complete" value="S" />
        <label for="status-complete">Complete</label>
      </p>
      <p>
        <input [(ngModel)]="issue.status" class="with-gap" name="status" type="radio" id="status-cancel" value="C" />
        <label for="status-cancel">Cancel</label>
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue right" (click)="onSave()">Save</a>
  </div>
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue left" (click)="onBack()">Back</a>
  </div>
</div>
<!-- {{issue|json}} -->