<div class="row ">
  <div class="input-field inline col s12 m6">
    <input id="txtIssueNo" type="text" class="validate" [(ngModel)]="issue.issueno" materialize="updateTextFields" minlength="1">
    <label for="txtIssueNo" data-error="please input Issue No">{{'issue.issueno'| translate}}</label>
  </div>
  <div class="input-field inline col s12 m6">
    <input id="txtTitle" type="text" class="validate" [(ngModel)]="issue.title" materialize="updateTextFields" minlength="1">
    <label for="txtTitle" data-error="please input Title">{{'issue.title'| translate}}</label>
  </div>

</div>
<!-- <div class="row">
  <div class="input-field col s12 ">
    <textarea id="textarea1" class="materialize-textarea" data-length="120" class="validate" required [(ngModel)]="issue.description"
      minlength="1"></textarea>
    <label for="textarea1">{{'issue.description'| translate}}</label>
  </div>
</div> -->
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" name="textarea1" [(ngModel)]="issue.description" class="materialize-textarea" data-length="120" minlength="1"></textarea>
          <label for="textarea1">{{'issue.description'| translate}}</label>
        </div>
      </div>
    </form>
  </div>
<div class="row ">
  <div class="input-field inline col s12 m6">
    <select [(ngModel)]="issue.company" materialize="material_select" [materializeSelectOptions]="compData"> 
      <option value="" disabled selected>Choose your option</option>
      <option *ngFor="let comp of compData;" 
    [value]="comp.compName">{{comp.compName}}</option>
    </select>
    <label>{{'company.code' | translate}}</label>
  </div>

  <div class="input-field inline col s12 m6">
    <select [(ngModel)]="issue.customer" materialize="material_select" [materializeSelectOptions]="custData"> 
      <option value="" disabled selected>Choose your option</option>
      <option *ngFor="let cust of custData;" 
    [value]="cust.customername">{{cust.customername}}</option>
    </select>
    <label>{{'customer.name' | translate}}</label>
  </div>
</div>

<div class="row ">
    <div class="input-field inline col s12 m6">
        <select [(ngModel)]="issue.user" materialize="material_select" [materializeSelectOptions]="custData"> 
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let usr of userData;" 
        [value]="usr.firstName">{{usr.firstName}}</option>
        </select>
        <label>{{'issue.user' | translate}}</label>
      </div>

  <div class="input-field inline col s12 m6">
    <label>Select Date</label>
    <input type="text" [(ngModel)]="issue.date" materialize="pickadate" 
    [materializeParams]="[{closeOnSelect:true,format:'dd/mm/yyyy'}]"  class="datepicker">
  </div>
</div>


<div class="row ">
    <div class="input-field inline col s12 m6">
        <select [(ngModel)]="issue.status" materialize="material_select" [materializeSelectOptions]="statusData"> 
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let status of statusData;" 
        [value]="status.status">{{status.status}}</option>
        </select>
        <label>{{'issue.status' | translate}}</label>
      </div>
 
</div>
<div class="row">
    <form action="#">
        <div class="file-field input-field">
          <div class="btn">
            <span>{{'issue.picture' | translate}}</span>
            <input type="file" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div>
      </form>
</div>
<!-- <div class="row ">
  <div class="col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
    <label>Sub Type</label>
    <select class="browser-default" [(ngModel)]="subtype">
              <option value="" disabled selected [ngValue]="">Choose your Sub Type</option>
                <option   *ngFor="let c of subtypeData" [ngValue]="c.id">{{c.id}}</option>
              
              </select>

  </div>

</div> -->







<div class="row">
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue right" (click)="onSave()">Save</a>
  </div>
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue left" (click)="onBack()">Back</a>
  </div>
</div>
{{issue|json}}