<div class="row ">
  <div class="input-field inline col s12 m6 l5 xl2 offset-m3 offset-l4 offset-xl5">
    <input id="txtusername" type="text" class="validate" [(ngModel)]="username" minlength="1">
    <label for="txtusername" data-error="please input Username">Username</label>
  </div>

</div>
<div class="row ">
  <div class="input-field col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">

    <input id="txtpassword" type="password" class="validate" required  [(ngModel)]="password" minlength="3">
    <label for="txtpassword" data-error="please input Password">Password</label>
  </div>
</div>
<!-- <div class="row ">
  <div class="input-field col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
    <ul id="ddlType" class="dropdown-content">
       <li *ngFor="let type of userTypeData;" >
        <a>{{type.usertype}}</a>
      </li> 
       <li><a>one</a></li>
      <li><a >two</a></li>
    </ul>
    <a class="btn dropdown-button " [(ngModel)]="usertype" href="#" data-activates="ddlType">Select<i class="material-icons right">arrow_drop_down</i></a>
  </div> 
</div> -->

    <div class="row ">
        <div class="col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
              <label>User Type</label>
              <select class="browser-default"   [(ngModel)]="usertype" >
                  <option value="" disabled selected [ngValue]="">Choose your UserType</option>
                <option   *ngFor="let type of userTypeData" [ngValue]="type.UserType">{{type.UserType}}</option>
              </select>
            </div> 
   </div>
  <div class="row ">
      <div class="col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
               <label>Level</label>
               <select  class="browser-default"  [(ngModel)]="level" >
                  <option value="" disabled selected [ngValue]="">Choose your Level</option>
                    <option   *ngFor="let c of levelData" [ngValue]="c.id">{{c.id}}</option>
                  
                  </select>
              
             </div> 
      
   </div>
  
<!-- <div class="row ">
    <div class="input-field col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
        <div class="input-field col s12" >
            <select  materialize="material_select" name="usertype" [(ngModel)]="usertype" (change)="onChange($event.target.value)">
          
              <option   *ngFor="let type of userTypeData" [ngValue]="type">{{type.UserType}}</option>
              
            </select>
            <label>User Type</label>
          </div>
    </div>
</div> -->
<!-- <div class="row ">
    <div class="input-field col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
        <div class="input-field col s12" >
            <select name="level"  [(ngModel)]="level" (ngModelChange)="onChange($event)">
            
              <option   *ngFor="let c of levelData" [value]="c.id">{{c.id}}</option>
            
            </select>
            <label>Level</label>
          </div>
    </div>
</div> -->

<div class="row">
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue right" (click)="onSave()">Save</a>
  </div>
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue left" (click)="onBack()">Back</a>
  </div>
</div>
