<div class="row ">
  <div class="input-field inline col s12 m6 l5 xl2 offset-m3 offset-l4 offset-xl5">
    <input id="txtcustcode" type="text" class="validate" [(ngModel)]="custCode" minlength="1">
    <label for="txtcustcode" data-error="please input Customer Code">Customer Code</label>
  </div>

</div>
<div class="row ">
  <div class="input-field col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">

    <input id="txtcustName" type="text" class="validate" required  [(ngModel)]="custName" minlength="1">
    <label for="txtcustName" data-error="please input Customer Name">Customer Name</label>
  </div>
</div>


    <!-- <div class="row ">
        <div class="col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
              <label>Company</label>
              <select class="browser-default"   [(ngModel)]="company" materialize="material_select" [materializeSelectOptions]="compData" >
                  <option value="" disabled selected [ngValue]="">Choose your Company</option>
                <option   *ngFor="let comp of compData" [ngValue]="comp.compName">{{comp.compName}}</option>
              </select>
            </div> 
   </div> -->
   <div>
      <div class="row ">
    <div class="input-field col s12 m6 l5 xl2 offset-m3 xl2 offset-l4 offset-xl5">
        <div class="input-field col s12" >
            <select [(ngModel)]="company" 
      materialize="material_select" 
      [materializeSelectOptions]="compData"> 
      <option value="" disabled selected>Choose your option</option>
      <option *ngFor="let comp of compData;" 
        [value]="comp.compName">{{comp.compName}}</option>
    </select>
    <label>{{'company.code' | translate}}</label>
          </div>
    </div>
</div> 
   <!-- <div class="input-field  s12">
    <select [(ngModel)]="company" 
      materialize="material_select" 
      [materializeSelectOptions]="compData"> 
      <option value="" disabled selected>Choose your option</option>
      <option *ngFor="let comp of compData;" 
        [value]="comp.compCode">{{comp.compName}}</option>
    </select>
    <label>{{'company.code' | translate}}</label>
  </div>  -->
</div>
<div class="row">
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue right" (click)="onSave()">Save</a>
  </div>
  <div class="col s6">
    <a class="btn col s12 m6 l2  blue left" (click)="onBack()">Back</a>
  </div>
</div>

